* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
}

.header {
    display: flex;
    height: 10%;
    border: 2px solid #fff;
}

.header-left {
    width: 20%;
    background-color: #5f86b8;
    border: 2px solid #fff;
}

.header-right {
    width: 80%;
    background-color: #3b5e92;
    border: 2px solid #fff;
}

.nav {
    display: flex;
    height: 8%;
}

.nav div {
    width: 25%;
    background-color: #4fb7a3;
    border: 2px solid #fff;
}

.main {
    display: flex;
    height: 64%;
}

.aside {
    width: 25%;
    background-color: #78ad63;
    border: 2px solid #fff;
}

.content {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.content-top {
    height: 40%;
    background-color: #f1b56b;
    border: 2px solid #fff;
}

.content-bottom {
    height: 60%;
    display: flex;
}

.content-bottom div {
    width: 50%;
    background-color: #6a94c7;
    border: 2px solid #fff;
}

.footer {
    display: flex;
    height: 10%;
}

.footer div:nth-child(1) {
    width: 50%;
    background-color: #9ca6b6;
    border: 2px solid #fff;
}

.footer div:nth-child(2),
.footer div:nth-child(3) {
    width: 25%;
    background-color: #9ca6b6;
    border: 2px solid #fff;
}

